/*==================================================
	Fonts :
		Raleway
	Coolors :
		#D2D2EC Periwinkle Gray
		#A1A5BE Cadet Blue
		#E7E7E4 Cararra
		#FFA200 Orange Peel
		#0685D5 Lochmara
==================================================*/
/* Get Raleway Font */
@import "fonts/raleway.css";
/*==================================================
				Variables
==================================================*/
:root
{
	--primary-color: #D2D2EC;
	--secondary-color: #A1A5BE;
	--body-color: #E7E7E4;
	--orange-color: #FFA200;
	--blue-color: #0685D5;
	--text-color: #333333;
	--input-color: #FFFFFF;
	--device-color: #D2D2EC;
}
/*==================================================
				HTML & Body
==================================================*/
*{margin: 0; padding: 0;}
html, body{height: 100%; width: 100%; font-family: "Raleway", sans serif !important; color: var(--text-color) !important; font-weight: bold; overflow-x: hidden; background-color: var(--body-color);}
label{font-weight: bold;}
input, select{height: 40px !important; padding: auto 0; border-radius: 0.5rem !important;}
table th, table td{text-align: center !important; vertical-align: middle !important;}
/*==================================================
			Custom UIkit Preferences
==================================================*/
.uk-grid{margin-left: 0 !important;}
.uk-grid>*{padding-left: 0 !important;}
div.uk-modal-dialog{overflow-x: hidden;}
div.uk-open>.uk-modal-dialog{padding-bottom: 0;}
div.uk-modal-dialog.big-width{width: 95%;}
div.uk-modal-dialog, div.uk-modal-body{background-color:  var(--body-color); border-radius: 0.5rem;}
div.uk-modal-dialog .uk-modal-title{font-size: 1.7rem; color: var(--text-color);}
div.uk-modal-header{background-color: var(--primary-color); padding-top: 10px; padding-bottom: 10px;}
div.uk-modal-body{padding-bottom: 10px;}
div.uk-modal-footer{background-color: var(--primary-color); height: 45px !important; padding: 0;}
button.uk-modal-close-default{background-color: transparent; font-size: 70px; color: var(--orange-color); font-weight: 400; cursor: pointer; margin-top: -10px;}
button.uk-modal-close-default:hover, button.uk-modal-close-default:focus{color: var(--blue-color);}
.uk-modal-footer button{text-transform: uppercase; background-color: var(--primary-color); height: 45px !important;}
.uk-modal-footer button:hover, .uk-modal-footer button:focus{background-color: var(--secondary-color);}
label.uk-form-label{font-size: 12px; letter-spacing: 1px; color: var(--text-color) !important;}
.uk-accordion-title::before{display: none;}
input.uk-input, select.uk-input, input.uk-input:focus, select.uk-input:focus{border: 1px solid var(--secondary-color); background-color: var(--input-color);}
input.uk-checkbox{width: 17px; height: 17px !important; background-color: var(--device-color);}
input.uk-checkbox:checked:focus, input.uk-checkbox:checked{background-color: var(--orange-color);}
.uk-table-hover tbody tr:hover,.uk-table-hover>tr:hover{background-color: var(--primary-color);}
div.uk-tooltip-inner span{color: var(--orange-color);}
.uk-list ul{padding-left: 100px;}
/*==================================================
				Preloader
==================================================*/
#preloader{background-color: #FFFFFF; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 9999;}
#status{background-image: url("../images/preloader.gif"); background-repeat: no-repeat; width: 80px; height: 80px; position: absolute; left: 50%; top: 50%; margin-top: -40px; margin-left: -40px;}
/*==================================================
				Custom Elements
==================================================*/
small.error{color: #F32013; font-size: 10px; letter-spacing: 1px; font-weight: 600;}
/*==================================================
				Hidden Elements
==================================================*/
small.error{display: none;}