/*==================================================
				Media Queries
==================================================*/
/* Large Devices */
@media (min-width: 1200px) and (max-width: 1299px)
{

}
/* Medium Devices */
@media (min-width: 992px) and (max-width: 1199px)
{
	/*==================================================
					HTML & Body
	==================================================*/
	input, select{height: 37px !important; font-size: 14px !important;}
	/*==================================================
					Menu
	==================================================*/
	/* Left Menu */
	#menu{width: 200px;}
	#menu-logo img{width: 150px; height: 60px;}
	#menu button{font-size: 10px;}
	#menu button img{width: 17px; height: 17px; margin-right: 20px; margin-top: -3px;}
	#groups-btn img{width: 24px !important; height: 24px !important; margin-left: -3px; margin-right: 17px !important;}
	#logout-btn img{margin-right: 17px !important;}
	/*==================================================
					Sections
	==================================================*/
	#sections{margin-left: 200px;}
	/*=========================
			Lights
	=========================*/
	#lights form label{padding-left: 2.1rem; font-size: 11px;}
	#lights form select{width: 80%;}
	/* Groups Display Table */
	#lights #lights-room-groups button{width: 125px !important; height: 30px; font-size: .5rem !important; line-height: 1;}
	/*=========================
			Groups
	=========================*/
	#groups #add-group-btn{font-size: 11px !important;}
	#groups #add-group-btn img{margin-top: -2px;}
	/*=========================
			Cards
	=========================*/
	#cards #add-card-btn{font-size: 11px !important;}
	#cards #add-card-btn img{margin-top: -2px;}
	/*=========================
			Floors
	=========================*/
	#floors #add-floor-btn{font-size: 11px !important;}
	#floors #add-floor-btn img{margin-top: -2px;}
	/*=========================
			Rooms
	=========================*/
	#rooms #add-room-btn{font-size: 11px !important;}
	#rooms #add-room-btn img{margin-top: -2px;}
	/*=========================
			Users
	=========================*/
	#users #add-user-btn{font-size: 11px !important;}
	#users #add-user-btn img{margin-top: -2px;}
	/* Display users Table */
	#users table{padding: 5px; margin-top: 15px;}
	#users table tr th{font-size: 0.85rem; padding: 12px 8px;}
	#users table tr td{font-size: 0.8rem; padding: 12px 0;}
	#users table img{width: 18px;}
	/*=========================
			Settings
	=========================*/
	#settings form{margin-top: 75px!important; width: 60%;}
	#settings #setting-language{width: 206px;}
	/*=========================
			Support
	=========================*/
	#support div.rights{margin-left: 200px;}
}
/* Small Devices */
@media (min-width: 768px) and (max-width: 991px)
{
	/*==================================================
					HTML & Body
	==================================================*/
	input, select{height: 35px !important; font-size: 13px !important;}
	/*==================================================
					Menu
	==================================================*/
	/* Left Menu */
	#menu{width: 200px;}
	#menu-logo img{width: 150px; height: 60px;}
	#menu button{font-size: 10px;}
	#menu button img{width: 17px; height: 17px; margin-right: 20px; margin-top: -2px;}
	#groups-btn img{width: 24px !important; height: 24px !important; margin-left: -3px; margin-right: 15px !important;}
	#logout-btn img{margin-right: 17px !important;}
	#menu div.uk-accordion-content{padding-left: 20px;}
	/*==================================================
					Sections
	==================================================*/
	#sections{margin-left: 200px;}
	/*=========================
			Lights
	=========================*/
	#lights form label{padding-left: 1.9rem; font-size: 9px;}
	#lights form select{width: 80%;}
	#lights hr.select-hr{background-position: 70%; max-width: 70%;}
	#lights #lights-room{margin-top: -30px !important;}
	#lights #lights-room #lights-room-name{margin-top: 20px !important; font-size: 1.3rem !important;}
	#lights #lights-room #lights-room-devices-number{font-size: 0.8rem;}
	/* Devices Display Table */
	#lights table#lights-room-devices td div{padding: 5px !important;}
	/* Groups Display Table */
	#lights #lights-room-groups button{width: 100px !important; height: 30px; font-size: .5rem !important; line-height: 1;}
	/*=========================
			Groups
	=========================*/
	#groups #add-group-btn{font-size: 10px !important;}
	#groups #add-group-btn img{margin-top: -3px;}
	/*=========================
			Cards
	=========================*/
	#cards #add-card-btn{font-size: 10px !important;}
	#cards #add-card-btn img{margin-top: -3px;}
	/*=========================
			Floors
	=========================*/
	#floors #add-floor-btn{font-size: 10px !important;}
	#floors #add-floor-btn img{margin-top: -3px;}
	/* Floor Details Table */
	#modal-edit-floor #floor-details-table table{font-size: 0.75rem;}
	#modal-edit-floor #floor-details-table table th{font-size: 0.9rem;}
	/*=========================
			Rooms
	=========================*/
	#rooms #add-room-btn{font-size: 10px !important;}
	#rooms #add-room-btn img{margin-top: -3px;}
	/*=========================
			Users
	=========================*/
	#users #add-user-btn{font-size: 10px !important;}
	#users #add-user-btn img{margin-top: -3px;}
	/* Display users Table */
	#users table{padding: 5px; margin-top: 15px;}
	#users table tr th{font-size: 0.8rem; padding: 12px 8px;}
	#users table tr td{font-size: 0.7rem; padding: 12px 0;}
	#users table img{width: 17px;}
	/*=========================
			History
	=========================*/
	#history #history-list{padding: 20px;}
	/* Display History Table */
	#history table{padding: 10px;}
	#history table th{padding: 10px;}
	#history table td{padding: 8px; font-size: 0.8rem;}
	/*=========================
			Settings
	=========================*/
	#settings form{margin-top: 60px!important; width: 80%;}
	#settings #setting-language{width: 206px;}
	/*=========================
			Support
	=========================*/
	#support div.rights{margin-left: 200px;}
}
/* Extra Small Devices */
@media (max-width: 767px)
{
	/*==================================================
					HTML & Body
	==================================================*/
	input, select{height: 35px !important; font-size: 14px !important;}
	/*==================================================
					Menu
	==================================================*/
	/* Left Menu */
	#menu{display: none;}
	/*==================================================
					Sections
	==================================================*/
	#sections{margin-left: 0;}
	nav{margin-top: 5px !important;}
	#mobile-menu-open-btn{display: block;}
	/*=========================
			Lights
	=========================*/
	#lights {margin-top: 15px !important;}
	#lights form {margin-top: 15px !important;}
	#lights form label{padding-left: 0.7rem; font-size: 9px;}
	#lights form select{width: 90%;}
	#lights hr.select-hr{background-position: 75%; max-width: 75%;}
	#lights #lights-room{margin-top: -25px !important;}
	#lights #lights-room #lights-room-name{margin-top: 20px !important; font-size: 1.2rem !important;}
	#lights #lights-room #lights-room-devices-number{font-size: 0.7rem;}
	/* Devices Display Table */
	#lights table#lights-room-devices td div{padding: 5px !important;}
	/* Groups Display Table */
	#lights #lights-room-groups button{width: 100px !important; height: 25px; font-size: .45rem !important; line-height: 1;}
	/*=========================
			Groups
	=========================*/
	#groups #add-group-btn{font-size: 10px !important;}
	#groups #add-group-btn img{margin-top: -3px;}
	/* Add Group Modal */
	#modal-add-group #add-group-room table td div{padding: 5px !important;}
	/* Edit Group Modal */
	#modal-edit-group #edit-group-room table td div{padding: 5px !important;}
	/*=========================
			Cards
	=========================*/
	#cards #add-card-btn{font-size: 10px !important;}
	#cards #add-card-btn img{margin-top: -3px;}
	/*=========================
			Floors
	=========================*/
	#floors #add-floor-btn{font-size: 10px !important;}
	#floors #add-floor-btn img{margin-top: -3px;}
	/* Floor Details Table */
	#modal-edit-floor #floor-details-table table{font-size: 0.6rem;}
	#modal-edit-floor #floor-details-table table th{font-size: 0.7rem;}
	/*=========================
			Rooms
	=========================*/
	#rooms #add-room-btn{font-size: 10px !important;}
	#rooms #add-room-btn img{margin-top: -3px;}
	/* Add Room Modal */
	#modal-add-room div.add-room-width-height div.uk-form-controls small{font-size: 10px;}
	#modal-add-room #add-room-room table td div{padding: 1px !important;}
	/* Edit Room Modal */
	#modal-edit-room #edit-room-room table td div{padding: 1px !important;}
	/*=========================
			Users
	=========================*/
	#users #add-user-btn{font-size: 10px !important;}
	#users #add-user-btn img{margin-top: -3px;}
	#users-list{padding: 0;}
	/* Display users Table */
	#users table{padding: 5px; margin-top: 15px;}
	#users table tr th{font-size: 0.8rem; padding: 8px 6px;}
	#users table tr td{font-size: 0.75rem; padding: 8px 0;}
	#users table img.delete{width: 14px;}
	#users table img.edit{width: 12px;}
	/*=========================
			History
	=========================*/
	#history #history-list{padding: 10px;}
	#history #search-history{width: 50%;}
	/* Display History Table */
	#history table{padding: 0;}
	#history table th{padding: 5px;}
	#history table td{padding: 5px; font-size: 0.8rem;}
	/*=========================
			Settings
	=========================*/
	#settings form{margin-top: 20px!important; width: 75%;}
	#settings #setting-language{width: 206px;}
	/* Save & Cancel Buttons */
	#settings div.setting-cancel-btn{padding-right: 20px !important;}
	#settings div.setting-save-btn{padding-left: 20px !important;}
	/*=========================
			Support
	=========================*/
	#support div.rights{margin-left: 0;}
}
/* Extra X-Small Devices */
@media (max-width: 480px)
{
	/*==================================================
					Sections
	==================================================*/
	/*=========================
			Lights
	=========================*/
	#lights form label{padding-left: 0.2rem;}
	#lights form select{font-size: 10px;}
	#lights #lights-room{margin-top: -20px !important;}
	#lights #lights-room #lights-room-name{margin-top: 15px !important; font-size: 1rem !important;}
	#lights #lights-room #lights-room-devices-number{font-size: 0.5rem;}
	/* Devices Display Table */
	#lights table#lights-room-devices td div{padding: 2px !important;}
	#lights table#lights-room-devices td div img{padding: 2px !important;}
	/* Groups Display Table */
	#lights #lights-room-groups button{width: 75px !important; height: 20px; font-size: .4rem !important; line-height: 1;}
	/*=========================
			Groups
	=========================*/
	#groups .add-group{margin-top: 0;}
	#groups #add-group-btn{padding-left: 10px; padding-right: 10px;}
	/* Group */
	#groups article.group-details h4{font-size: 15px;}
	#groups article.group-details h6{font-size: 11px;}
	/* Add Group Modal */
	#modal-add-group #add-group-room table td div{padding: 2px !important;}
	#modal-add-group #add-group-room table td div img{padding: 2px !important;}
	/* Edit Group Modal */
	#modal-edit-group #edit-group-room table td div{padding: 2px !important;}
	#modal-edit-group #edit-group-room table td div img{padding: 2px !important;}
	/* Delete Group Modal */
	#modal-delete-group h2.uk-modal-title{font-size: 1.2rem;}
	#modal-delete-group button{font-size: 0.7rem; line-height: 1; padding: 0;}
	/*=========================
			Cards
	=========================*/
	#cards .add-card{margin-top: 0;}
	#cards #add-card-btn{padding-left: 10px; padding-right: 10px;}
	/*=========================
			Floors
	=========================*/
	#floors .add-floor{margin-top: 0;}
	#floors #add-floor-btn{padding-left: 10px; padding-right: 10px;}
	/*=========================
			Rooms
	=========================*/
	#rooms .add-room{margin-top: 0;}
	#rooms #add-room-btn{padding-left: 10px; padding-right: 10px;}
	/* Add Room Modal */
	#modal-add-room div.add-room-width-height div.uk-form-controls small{font-size: 6px;}
	#modal-add-room #add-room-room table td div{padding: 1px !important;}
	#modal-add-room #add-room-room table td div img{padding: 1px !important;}
	/* Edit Room Modal */
	#modal-edit-room #edit-room-room table td div{padding: 1px !important;}
	#modal-edit-room #edit-room-room table td div img{padding: 1px !important;}
	/*=========================
			Users
	=========================*/
	#users .add-user{margin-top: 0;}
	#users #add-user-btn{padding-left: 10px; padding-right: 10px;}
	/* Display users Table */
	#users table{padding: 5px; margin-top: 15px;}
	#users table tr th{font-size: 0.7rem;}
	#users table tr td{font-size: 0.55rem;}
	/* Delete Group Modal */
	#modal-delete-user h2.uk-modal-title{font-size: 1.2rem;}
	#modal-delete-user button{font-size: 0.7rem; line-height: 1; padding: 0;}
	/*=========================
			History
	=========================*/
	#history form{margin-top: -25px;}
	#history input{width: 95%; height: 30px !important;}
	#history #search-history{width: 100%;}
	#history #history-list{padding: 0;}
	/* Display History Table */
	#history table{padding: 0;}
	#history table th{padding: 5px;}
	#history table td{padding: 2px; font-size: 0.7rem;}
	/*=========================
			Settings
	=========================*/
	#settings form{width: 100%;}
}