/*==================================================
				Hidden Elements
==================================================*/
#mobile-menu-open-btn, #mobile-menu, #groups, #scenes, #statistics, #cards, #floors, #rooms, #users, #history, #settings, #support, #fullscreen-btn-off{display: none;}
/*==================================================
				Menu
==================================================*/
/* Menu */
#menu{position: fixed; left: 0; top: 0; bottom: 0; overflow-y: auto; width: 250px; background-color: var(--primary-color);}
#menu-logo img{width: 200px; height: 75px;}
#menu button{background-color: var(--primary-color); font-weight: bold; color: var(--secondary-color); font-size: 13px; letter-spacing: 1px; text-transform: uppercase; margin-top: 7px;}
#menu button:hover, #menu button:focus, #menu button.active{color: var(--blue-color);}
#menu button img{width: 25px; height: 25px; margin-right: 25px; margin-top: -5px;}
#groups-btn img{width: 33px !important; height: 33px !important; margin-left: -3px; margin-right: 20px !important;}
#logout-btn img{margin-left: 2px; margin-right: 23px !important;}
#menu ul.configuration-btn{padding-top: 5px;}
#configuration-btn{padding-top: 0; height: 38px;}
#menu div.uk-accordion-content{margin-top: 0; padding-left: 35px;}
/* Mobile Menu */
#mobile-menu{height: 100%; width: 100%; position: fixed; top: 0; left: 0; background-color: var(--primary-color); overflow-y: auto; z-index: 2;}
#mobile-menu-close-btn{font-size: 75px; color: var(--orange-color); cursor: pointer; font-weight: 400; margin: 0; padding: 0; margin-right: 20px; margin-top: -20px;}
#mobile-menu-logo img{width: 180px; height: 75px; margin-left: 34px;}
#mobile-menu button{background-color: var(--primary-color); color: var(--secondary-color); font-size: 15px; letter-spacing: 1px; text-transform: uppercase; padding-left: 50px; padding-top: 5px;}
#mobile-menu button:hover, #mobile-menu button:focus, #mobile-menu button.active{color: var(--blue-color);}
#mobile-menu button img{width: 20px; height: 20px; margin-right: 20px; margin-top: -5px;}
#mobile-groups-btn img{width: 30px !important; height: 30px !important; margin-left: -3px; margin-right: 13px !important;}
#mobile-menu ul.mobile-configuration-btn{padding-top: 5px;}
#mobile-configuration-btn{padding-top: 0; height: 43px;}
#mobile-menu div.uk-accordion-content{margin-top: 0; padding-left: 25px;}
/*==================================================
				Sections
==================================================*/
#sections{margin-left: 250px;}
#sections nav{margin-top: 10px; z-index: 0;}
#mobile-menu-open-btn{font-size: 35px; color: var(--orange-color); cursor: pointer; margin: 0; padding: 0; margin-left: 15px;}
#sections hr.title-hr{background-position: 100%; max-width: 100%; margin-top: 5px; height: 3px; background-image: radial-gradient(closest-side, var(--orange-color), hsla(232, 18%, 69%, 0) 100%);}
#section-title{font-size: 17px; text-transform: uppercase; letter-spacing: 2px; margin-top: 30px;}
/*=========================
		Lights
=========================*/
#lights form label{color: var(--blue-color); padding-bottom: 0 !important; margin-bottom: 0 !important; padding-left: 6rem;}
#lights form div.uk-form-controls{text-align: center !important;}
#lights form select{width: 65%; border: none; background-color: transparent; border: none; padding: 0; margin-top: -5px !important;}
#lights hr.select-hr{background-position: 60%; max-width: 60%; margin-top: -5px; background-image: radial-gradient(closest-side, var(--secondary-color), hsla(232, 18%, 69%, 0.2) 150%); height: 2px;}
#lights #lights-room{margin-top: -45px !important;}
#lights #lights-room-name{font-size: 1.5rem !important; letter-spacing: 1px; margin-bottom: 0; margin-top: -20px; color: var(--text-color);}
#lights #lights-room-devices-number{padding: 0 !important; margin: 0 !important; color: var(--orange-color); font-size: 0.8rem;}
#lights div#fullscreen.fullscreen{position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: var(--body-color); z-index: 1000; width: 100%; height: 100%; margin: 0 !important; overflow-x: scroll;}
#lights div#fullscreen div#fullscreen-btn-on{margin: 0 !important; margin-bottom: 10px !important; cursor: pointer;}
#lights div#fullscreen div#fullscreen-btn-off{margin: 0 !important; margin-bottom: 10px !important; margin-top: 10px !important; margin-right: 10px !important; cursor: pointer;}
#lights div#fullscreen.fullscreen #center{padding-bottom: 10px;}
#lights div#fullscreen.fullscreen table#lights-room-devices{width: calc(100% - 20px); table-layout: fixed;}
#lights div#fullscreen.fullscreen #lights-room-groups{width: calc(100% - 20px);}
/* Devices Display Table */
#lights table#lights-room-devices{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; width: 100%;}
#lights table#lights-room-devices th{padding: 0 !important; text-align: left; vertical-align: bottom; font-size: .75rem; font-weight: 400; color: #999999; text-transform: uppercase;}
#lights table#lights-room-devices td{padding: 0 !important;}
#lights table#lights-room-devices td div{padding: 10px !important;}
#lights table#lights-room-devices td div img{padding: 5px !important; border: 2px solid var(--text-color); border-radius: 50%; cursor: pointer;}
#lights table#lights-room-devices td div img.ON{background-color: #FFCC00;}
#lights table#lights-room-devices td div img.OFF{background-color: var(--device-color);}
/* Groups Display Table */
#lights #lights-room-groups{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px !important; display: flex; flex-wrap: wrap; justify-content: center;}
#lights *+.uk-grid-margin, #lights .uk-grid+.uk-grid, #lights .uk-grid>.uk-grid-margin{margin-top: 10px;}
#lights #lights-room-groups button{border: 1px solid var(--primary-color); border-radius: 0.25rem; display: inline-block; cursor: pointer; margin-left: 10px; margin-right: 10px; height: 35px; padding: 0px; color: var(--text-color); line-height: 1; font-size: 0.7rem;}
#lights #lights-room-groups th{padding: 0 !important; text-align: left; vertical-align: bottom; font-size: .75rem; font-weight: 400; color: #999999; text-transform: uppercase;}
/*=========================
		Groups
=========================*/
#groups .add-group{margin-top: 1rem;}
#groups #add-group-btn{background-color: transparent; text-transform: uppercase; letter-spacing: 1px; font-size: 13px !important;}
#groups #add-group-btn img{margin-top: -4px; margin-right: 4px !important;}
#groups hr{border: 0; margin: 0.25em auto; max-width: 100%; background-position: 50%; box-sizing: border-box; height: 2px; background-image: radial-gradient(closest-side, hsla(232, 18%, 69%, 1.0),  hsla(232, 18%, 69%, 0) 100%); position: relative;}
#groups #groups-list{height: calc(110vh - 225px); overflow-y: auto; overflow-x: hidden;}
/* Group */
#groups article.group-details{background-color: var(--primary-color); border: 1px solid var(--secondary-color); border-radius: 0.5rem; height: 65px; cursor: pointer; margin-bottom: 25px; position: relative;}
#groups article.group-details div.uk-width-expand{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-right: 20px; padding-left: 30px !important;}
#groups article.group-details h4{font-weight: 600; margin-top: 7px !important;}
#groups article.group-details h4, #groups article.group-details h6{margin-left: -15px !important;}
#groups article.group-details div.uk-width-auto{padding-left: 0;}
/* Error Table */
#groups #groups-list table{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; width: 100%;}
#groups #groups-list table th{padding: 0 !important; text-align: left; vertical-align: bottom; font-size: .75rem; font-weight: 400; color: #999; text-transform: uppercase;}
/* Control Group Button */
#groups .uk-switch{position: relative; display: inline-block; height: 25px; width: 50px; margin-top: 20px;}
#groups .uk-switch input{display:none;}
#groups .uk-switch-slider{background-color: rgba(0,0,0,0.22); position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 500px; cursor: pointer; transition-property: background-color; transition-duration: .2s; box-shadow: inset 0 0 2px rgba(0,0,0,0.07);}
#groups .uk-switch-slider:before{ content: ''; background-color: #FFFFFF; position: absolute; width: 21px; height: 21px; left: 2px; bottom: 2px; border-radius: 50%; transition-property: transform, box-shadow; transition-duration: .2s;}
#groups input:checked + .uk-switch-slider{background-color: var(--orange-color) !important;}
#groups input:checked + .uk-switch-slider:before {transform: translateX(26px);}
#groups .uk-switch-slider{background-color: var(--secondary-color);}
/* Add Group Modal */
#modal-add-group div.add-group-search-room div{padding: 0; margin: 0;}
#modal-add-group div.add-group-search-room label{color: var(--blue-color); padding-left: 0.5rem; margin-bottom: 0 !important; font-size: 10px;}
#modal-add-group #add-group-search-floor, #modal-add-group #add-group-search-room{background-color: transparent; border: none;}
#modal-add-group hr.select-hr{background-position: 85%; max-width: 85%; margin-top: -5px; background-image: radial-gradient(closest-side, var(--secondary-color), hsla(232, 18%, 69%, 0) 150%); height: 2px;}
#modal-add-group #add-group-room table{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; border-collapse: separate;}
#modal-add-group #add-group-room table td{padding: 0 !important;}
#modal-add-group #add-group-room table td div{padding: 7px !important;}
#modal-add-group #add-group-room table td div img{padding: 5px !important; border: 2px solid var(--text-color); border-radius: 50%; cursor: pointer;}
/* Edit Group Modal */
#modal-edit-group div.uk-modal-body{padding-bottom: 10px;}
#modal-edit-group div.edit-group-search-room div{padding: 0; margin: 0;}
#modal-edit-group div.edit-group-search-room label{color: var(--blue-color); padding-left: 0.5rem; margin-bottom: 0 !important; font-size: 10px;}
#modal-edit-group #edit-group-search-floor, #modal-edit-group #edit-group-search-room{background-color: transparent; border: none;}
#modal-edit-group hr.select-hr{background-position: 85%; max-width: 85%; margin-top: -5px; background-image: radial-gradient(closest-side, var(--secondary-color), hsla(232, 18%, 69%, 0) 150%); height: 2px;}
#modal-edit-group #edit-group-room table{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; border-collapse: separate;}
#modal-edit-group #edit-group-room table td{padding: 0 !important;}
#modal-edit-group #edit-group-room table td div{padding: 7px !important;}
#modal-edit-group #edit-group-room table td div img{padding: 5px !important; border: 2px solid var(--text-color); border-radius: 50%; cursor: pointer;}
#modal-edit-group #delete-group-btn{color: #C0392B; font-size: 0.7rem !important;}
#modal-edit-group #delete-group-btn img{margin-top: -2px;}
/* Delete Group Modal */
#modal-delete-group div.uk-padding-small{border: 2px solid #C0392B; border-radius: 50%;}
#modal-delete-group h2.uk-modal-title{font-size: 1.45rem; margin-top: 10px; color: var(--text-color);}
#modal-delete-group button.uk-modal-close{background-color: #C0392B; color: #FFFFFF;}
#modal-delete-group button#delete-group-confirm-btn{background-color: #2ECC71; color: #FFFFFF;}
/*=========================
		Scenes
=========================*/

/*=========================
		Statistics
=========================*/
#statistics *+.uk-grid-margin, #statistics .uk-grid+.uk-grid, #statistics .uk-grid>.uk-grid-margin{margin-top: 15px !important;}
#statistics #stats-menu{max-width: 360px; margin-top: 50px !important;}
#statistics #stats-menu p{cursor: pointer; font-size: 14px; color: var(--secondary-color);}
#statistics #stats-menu p.active{color: var(--orange-color);}
/* Chart */
#statistics #chart-title{color: var(--text-color); font-size: 14px; font-weight: 600;}
#statistics #line-chart{max-width: 100%;}
#statistics .line-chart{animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards; opacity: 0; width: 100%;}
@keyframes fadeIn{to{opacity: 1;}}
/* Details */
#statistics .card-outer{padding-left: 15px !important;}
#statistics #stats-details .uk-card-body{padding: 0 !important;}
#statistics #stats-details-price .uk-card-body{padding: 0 !important;}
#statistics h3.stats-titles, #statistics h3.stats-titles-price{font-size: 0.9rem; color: var(--blue-color); font-weight: 600; text-transform: uppercase; margin-bottom: 10px !important;}
#statistics h3.stats-titles-price{color: var(--orange-color);}
#statistics #stats-details p, #statistics #stats-details-price p{font-size: 0.75rem; margin-top: 0 !important;}
#statistics #stats-details .card-outer{padding-bottom: 0 !important;}
#statistics #stats-details-price .card-outer{padding-top: 0 !important;}
#statistics table th, #statistics table td{font-size: 0.75rem !important;}
#statistics table th, #statistics table td{padding: 5px;}
/*=========================
		Cards
=========================*/
#cards .add-card{margin-top: 1rem;}
#cards #add-card-btn{background-color: transparent; text-transform: uppercase; letter-spacing: 1px; font-size: 13px !important;}
#cards #add-card-btn img{margin-top: -4px; margin-right: 4px !important;}
#cards hr{border: 0; margin: 0.25em auto; max-width: 100%; background-position: 50%; box-sizing: border-box; height: 2px; background-image: radial-gradient(closest-side, hsla(232, 18%, 69%, 1.0),  hsla(232, 18%, 69%, 0) 100%); position: relative;}
#cards #cards-list{height: calc(110vh - 225px); overflow-y: auto; overflow-x: hidden;}
/* Card */
#cards article.card-details{background-color: var(--primary-color); border: 1px solid var(--secondary-color); border-radius: 0.5rem; height: 65px; cursor: pointer; margin-bottom: 25px; position: relative;}
#cards article.card-details div.uk-width-1-1{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-right: 20px; padding-left: 30px !important;}
#cards article.card-details h4{font-weight: 600; margin-top: 7px !important; color: var(--text-color);}
#cards article.card-details h6{color: var(--secondary-color);}
/* Error Table */
#cards #cards-list table{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; width: 100%;}
#cards #cards-list table th{padding: 0 !important; text-align: left; vertical-align: bottom; font-size: .75rem; font-weight: 400; color: #999; text-transform: uppercase;}
/* Edit Card Modal */
#modal-edit-card div.uk-modal-body{padding-bottom: 10px;}
#modal-edit-card #delete-card-btn{color: #C0392B; font-size: 0.7rem !important;}
#modal-edit-card #delete-card-btn img{margin-top: -2px;}
/* Delete Floor Modal */
#modal-delete-card div.uk-padding-small{border: 2px solid #C0392B; border-radius: 50%;}
#modal-delete-card h2.uk-modal-title{font-size: 1.45rem; margin-top: 10px; color: var(--text-color);}
#modal-delete-card h2.uk-modal-title span{color: var(--secondary-color);}
#modal-delete-card h5{color: #C0392B; line-height: 1; font-size: 15px; margin-top: 25px; font-weight: 500;}
#modal-delete-card button.uk-modal-close{background-color: #C0392B; color: #FFFFFF;}
#modal-delete-card button#delete-card-confirm-btn{background-color: #2ECC71; color: #FFFFFF;}
/*=========================
		Floors
=========================*/
#floors .add-floor{margin-top: 1rem;}
#floors #add-floor-btn{background-color: transparent; text-transform: uppercase; letter-spacing: 1px; font-size: 13px !important;}
#floors #add-floor-btn img{margin-top: -4px; margin-right: 4px !important;}
#floors hr{border: 0; margin: 0.25em auto; max-width: 100%; background-position: 50%; box-sizing: border-box; height: 2px; background-image: radial-gradient(closest-side, hsla(232, 18%, 69%, 1.0),  hsla(232, 18%, 69%, 0) 100%); position: relative;}
#floors #floors-list{height: calc(110vh - 225px); overflow-y: auto; overflow-x: hidden;}
/* Floor */
#floors article.floor-details{background-color: var(--primary-color); border: 1px solid var(--secondary-color); border-radius: 0.5rem; height: 65px; cursor: pointer; margin-bottom: 25px; position: relative;}
#floors article.floor-details div.uk-width-1-1{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-right: 20px; padding-left: 30px !important;}
#floors article.floor-details h4{font-weight: 600; margin-top: 7px !important; color: var(--text-color);}
#floors article.floor-details h6{color: var(--secondary-color);}
/* Error Table */
#floors #floors-list table{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; width: 100%;}
#floors #floors-list table th{padding: 0 !important; text-align: left; vertical-align: bottom; font-size: .75rem; font-weight: 400; color: #999; text-transform: uppercase;}
/* Edit Floor Modal */
#modal-edit-floor div.uk-modal-body{padding-bottom: 10px;}
#modal-edit-floor #delete-floor-btn{color: #C0392B; font-size: 0.7rem !important;}
#modal-edit-floor #delete-floor-btn img{margin-top: -2px;}
/* Floor Details Table */
#modal-edit-floor #floor-details-table table{border: 1px solid var(--secondary-color); border-radius: .25rem; font-weight: bold; padding: 0; font-size: 0.75rem;}
#modal-edit-floor #floor-details-table table *+.uk-grid-margin, #modal-edit-floor #floor-details-table table .uk-grid+.uk-grid, #modal-edit-floor #floor-details-table table .uk-grid>.uk-grid-margin{margin-top: 5px;}
#modal-edit-floor #floor-details-table table thead{background-color: var(--primary-color); border-radius: .25rem;}
#modal-edit-floor #floor-details-table table th{font-weight: bold; color: var(--text-color); font-size: 0.9rem; padding-left: 5px; padding-right: 5px; padding-top: 10px; padding-bottom: 10px;}
#modal-edit-floor #floor-details-table table td{padding: 5px;}
#modal-edit-floor #floor-details-table table tr{border-radius: .25rem;}
#modal-edit-floor #floor-details-table table tr:hover{background-color: var(--primary-color);}
/* Delete Floor Modal */
#modal-delete-floor div.uk-padding-small{border: 2px solid #C0392B; border-radius: 50%;}
#modal-delete-floor h2.uk-modal-title{font-size: 1.45rem; margin-top: 10px; color: var(--text-color);}
#modal-delete-floor h2.uk-modal-title span{color: var(--secondary-color);}
#modal-delete-floor h5{color: #C0392B; line-height: 1; font-size: 15px; margin-top: 25px; font-weight: 500;}
#modal-delete-floor button.uk-modal-close{background-color: #C0392B; color: #FFFFFF;}
#modal-delete-floor button#delete-floor-confirm-btn{background-color: #2ECC71; color: #FFFFFF;}
/*=========================
		Rooms
=========================*/
#rooms .add-room{margin-top: 1rem;}
#rooms #add-room-btn{background-color: transparent; text-transform: uppercase; letter-spacing: 1px; font-size: 13px !important;}
#rooms #add-room-btn img{margin-top: -4px; margin-right: 4px !important;}
#rooms hr{border: 0; margin: 0.25em auto; max-width: 100%; background-position: 50%; box-sizing: border-box; height: 2px; background-image: radial-gradient(closest-side, hsla(232, 18%, 69%, 1.0),  hsla(232, 18%, 69%, 0) 100%); position: relative;}
#rooms #rooms-list{height: calc(110vh - 225px); overflow-y: auto; overflow-x: hidden;}
/* Room */
#rooms div.uk-section{padding-top: 0; padding-bottom: 0; border: 1px solid var(--secondary-color); border-radius: 0.25rem; padding: 10px; margin-top: 10px; background-color: var(--primary-color);}
#rooms h4.section-title{margin-top: 10px; margin-bottom: 10px; font-weight: 600; color: var(--text-color) !important; font-size: 1rem;}
#rooms article.room-details{background-color: var(--body-color); border: 1px solid var(--secondary-color); border-radius: 0.5rem; height: 65px; cursor: pointer; margin-bottom: 25px; position: relative;}
#rooms article.room-details div.uk-width-1-1{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-right: 20px; padding-left: 30px !important;}
#rooms article.room-details h4{font-weight: 400; margin-top: 7px !important; color: var(--text-color);}
#rooms article.room-details h6{color: var(--secondary-color);}
/* Error Table */
#rooms #rooms-list table{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; width: 100%; background-color: var(--body-color);}
#rooms #rooms-list table th{padding: 0 !important; text-align: left; vertical-align: bottom; font-size: .75rem; font-weight: 400; color: #999; text-transform: uppercase;}
/* Add Room Modal */
#modal-add-room div.add-room-search-floor div{padding: 0; margin: 0;}
#modal-add-room div.add-room-search-floor label{color: var(--blue-color); padding-left: 0.5rem; margin-bottom: 0 !important; font-size: 10px;}
#modal-add-room div.add-room-width-height div.uk-width-1-2:first-child{padding-right: 5px;}
#modal-add-room div.add-room-width-height div.uk-width-1-2:nth-child(2){padding-left: 5px;}
#modal-add-room div.add-room-width-height div.uk-form-controls small{font-size: 11px; color: var(--secondary-color);}
#modal-add-room #add-room-room table{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; border-collapse: separate; margin-top: 20px;}
#modal-add-room #add-room-room table td{padding: 0 !important;}
#modal-add-room #add-room-room table td div{padding: 2px !important;}
#modal-add-room #add-room-room table td div img{border-radius: 50%; cursor: pointer; background-color: var(--device-color);}
#modal-add-room #add-room-room table td div img.SELECTED{padding: 2px !important; border: 2px solid var(--text-color);}
/* Add Room Device Modal */
#modal-add-room-device #delete-room-device-btn{color: #C0392B; font-size: 0.7rem !important;}
#modal-add-room-device #delete-room-device-btn img{margin-top: -2px;}
/* Edit Room Modal */
#modal-edit-room div.uk-modal-body{padding-bottom: 10px;}
#modal-edit-room div.edit-room-search-floor div{padding: 0; margin: 0;}
#modal-edit-room div.edit-room-search-floor label{color: var(--blue-color); padding-left: 0.5rem; margin-bottom: 0 !important; font-size: 10px;}
#modal-edit-room #edit-room-search-floor{background-color: transparent; border: none;}
#modal-edit-room hr.select-hr{background-position: 85%; max-width: 85%; margin-top: -5px; background-image: radial-gradient(closest-side, var(--secondary-color), hsla(232, 18%, 69%, 0) 150%); height: 2px;}
#modal-edit-room table#edit-room-room-devices{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; border-collapse: separate; margin-top: 20px;}
#modal-edit-room table#edit-room-room-devices td{padding: 0 !important;}
#modal-edit-room table#edit-room-room-devices td div{padding: 2px !important;}
#modal-edit-room table#edit-room-room-devices td div img{padding: 2px !important; border: 2px solid var(--text-color); border-radius: 50%; cursor: pointer;}
/* Display Groups */
#modal-edit-room #edit-room-room-groups{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px !important; justify-content: center;}
#modal-edit-room #edit-room-room-groups *+.uk-grid-margin, #modal-edit-room #edit-room-room-groups .uk-grid+.uk-grid, #modal-edit-room #edit-room-room-groups .uk-grid>.uk-grid-margin{margin-top: 10px;}
#modal-edit-room #edit-room-room-groups button{border-radius: 0.25rem; display: inline-block; margin-left: 15px; margin-right: 15px; height: 30px; padding: 0px; font-size: 10px; padding-right: 7px; padding-left: 7px!important; line-height: 1; width: 125px;}
/* Error Table */
#modal-edit-room #edit-room-room-groups table th{padding: 0 !important; text-align: left; vertical-align: bottom; font-size: .75rem; font-weight: 400; color: #999; text-transform: uppercase;}
/* Delete Room Button */
#modal-edit-room #delete-room-btn{color: #C0392B; margin-top: 15px; font-size: 0.7rem !important;}
#modal-edit-room #delete-room-btn img{margin-top: -2px;}
/* Delete Room Modal */
#modal-delete-room div.uk-padding-small{border: 2px solid #C0392B; border-radius: 50%;}
#modal-delete-room h2.uk-modal-title{font-size: 1.45rem; margin-top: 10px; color: var(--text-color);}
#modal-delete-room h2.uk-modal-title span{color: var(--secondary-color);}
#modal-delete-room h5{color: #C0392B; line-height: 1; font-size: 15px; margin-top: 25px; font-weight: 500;}
#modal-delete-room button.uk-modal-close{background-color: #C0392B; color: #FFFFFF;}
#modal-delete-room button#delete-room-confirm-btn{background-color: #2ECC71; color: #FFFFFF;}
/*=========================
		Users
=========================*/
#users .add-user{margin-top: 1rem;}
#users #add-user-btn{background-color: transparent; text-transform: uppercase; letter-spacing: 1px; font-size: 13px !important;}
#users #add-user-btn img{margin-top: -4px; margin-right: 4px !important;}
#users hr{border: 0; margin: 0.25em auto; max-width: 100%; background-position: 50%; box-sizing: border-box; height: 2px; background-image: radial-gradient(closest-side, hsla(232, 18%, 69%, 1.0),  hsla(232, 18%, 69%, 0) 100%); position: relative;}
#users #users-list{height: calc(110vh - 225px); overflow-y: auto; overflow-x: hidden; line-height: 1;}
/* Display Users Table */
#users table{border-radius: .25rem; padding: 10px; border-collapse: separate; margin-top: 20px;}
#users table th{padding: 12px 8px;}
#users table td{border-bottom: 1px solid var(--primary-color); font-size: 0.9rem; padding: 10px 0;}
#users table img{cursor: pointer;}
/* Add & Edit User Modal */
#modal-add-user #available-permissions, #modal-edit-user #available-permissions{margin: 10px 0 10px 0; padding-left: 50px;}
#modal-add-user #available-permissions li, #modal-edit-user #available-permissions li{margin-top: 10px;}
#modal-add-user #available-permissions label, #modal-edit-user #available-permissions label{font-size: 12px; letter-spacing: 1px;}
/* Error Table */
#modal-add-user table, #modal-edit-user table{border: 1px solid var(--secondary-color); border-radius: .25rem; padding: 10px; width: 100%; background-color: var(--body-color);}
#modal-add-user table th, #modal-edit-user table th{padding: 0 !important; text-align: left; vertical-align: bottom; font-size: .75rem; font-weight: 400; color: #999; text-transform: uppercase;}
/* Delete User Modal */
#modal-delete-user div.uk-padding-small{border: 2px solid #C0392B; border-radius: 50%;}
#modal-delete-user h2.uk-modal-title{font-size: 1.45rem; margin-top: 10px; color: var(--text-color);}
#modal-delete-user h2.uk-modal-title span{color: var(--secondary-color);}
#modal-delete-user h5{color: #C0392B; line-height: 1; font-size: 15px; margin-top: 25px; font-weight: 500;}
#modal-delete-user button.uk-modal-close{background-color: #C0392B; color: #FFFFFF;}
#modal-delete-user button#delete-user-confirm-btn{background-color: #2ECC71; color: #FFFFFF;}
/*=========================
		History
=========================*/
#history input{width: 95%;}
#history #search-history{background-color: var(--primary-color); border: 1px solid var(--device-color); color: var(--text-color); padding: 0; border-radius: 0.25rem; height: 40px; line-height: 1; font-size: 0.7rem; margin-top: 15px;}
#history #search-history:focus, #history #search-history:hover{background-color: var(--secondary-color);}
#history *+.uk-grid-margin, #history .uk-grid+.uk-grid, #history .uk-grid>.uk-grid-margin{margin-top: 15px !important;}
#history hr{border: 0; margin: 0.25em auto; max-width: 100%; background-position: 50%; box-sizing: border-box; height: 2px; background-image: radial-gradient(closest-side, hsla(232, 18%, 69%, 1.0),  hsla(232, 18%, 69%, 0) 100%); position: relative; margin-top: 15px;}
#history #history-list{height: calc(110vh - 320px); padding-left: 50px; padding-right: 50px; overflow-y: auto; overflow-x: hidden;}
/* Display History Table */
#history table{border-radius: .25rem; padding: 10px; border-collapse: separate; margin-top: 20px;}
#history table th{padding: 12px 8px;}
#history table td{border-bottom: 1px solid var(--primary-color); font-size: 0.9rem; padding: 10px;}
/*=========================
		Settings
=========================*/
#settings form{margin-top: 100px!important; width: 60%;}
#settings hr{background-position: 100%; max-width: 100%; margin-top: -5px; background-image: radial-gradient(closest-side, var(--secondary-color), hsla(232, 18%, 69%, 0) 150%); height: 2px;}
#settings div.change-name-title, #settings div.change-password-title, #settings div.preference-title{font-size: 0.8rem; color: var(--secondary-color);}
#settings #setting-language{border: 1px solid var(--secondary-color); width: 228px;}
/* Dark Theme Button */
#settings div.uk-width-1-3.uk-text-left{line-height: 1;}
#settings .uk-switch{position: relative; display: inline-block; height: 25px; width: 50px;}
#settings .uk-switch input{display:none;}
#settings .uk-switch-slider{background-color: rgba(0,0,0,0.22); position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 500px; cursor: pointer; transition-property: background-color; transition-duration: .2s; box-shadow: inset 0 0 2px rgba(0,0,0,0.07);}
#settings .uk-switch-slider:before{ content: ''; background-color: #FFFFFF; position: absolute; width: 21px; height: 21px; left: 2px; bottom: 2px; border-radius: 50%; transition-property: transform, box-shadow; transition-duration: .2s;}
#settings input:checked + .uk-switch-slider{background-color: var(--orange-color) !important;}
#settings input:checked + .uk-switch-slider:before {transform: translateX(26px);}
#settings .uk-switch-slider{background-color: var(--secondary-color);}
/* Save & Cancel Buttons */
#settings button{color: var(--orange-color);}
#settings button.uk-button-text::before{border-bottom: 2px solid var(--orange-color);}
#settings div.setting-cancel-btn{padding-right: 50px !important;}
#settings div.setting-save-btn{padding-left: 50px !important;}
/*=========================
		Support
=========================*/
#support h4.support-titles{font-size: 1.05rem; margin-left: 15px; margin-bottom: 5px; color: var(--text-color); font-weight: 600; text-transform: uppercase; letter-spacing: 1px;}
#support p{font-weight: 400;}
#support span.light{color: var(--orange-color);}
#support span.ways{color: var(--blue-color);}
#support div.rights{background-color: var(--primary-color); padding: 10px; line-height: 1; margin-left: 250px;}
#support div.rights h5{margin-bottom: 0; color: var(--text-color); font-size: 0.8rem;}
/* Contact */
#support .contact-outer{padding-left: 15px !important; padding-right: 15px !important;}
#support #contact-left, #support #contact-right{padding: 0px;}
#support div.contact-form div.uk-width-1-2:first-child{padding-right: 10px;}
#support div.contact-form div.uk-width-1-2:nth-child(2){padding-left: 10px;}
#support #contact-message{border: 1px solid var(--secondary-color); background-color: var(--input-color); border-radius: 0.25rem !important;}
#support #contact-submit-btn{background-color: var(--primary-color); border-radius: .25rem;}
#support #contact-submit-btn:focus, #support #contact-submit-btn:hover{background-color: var(--secondary-color);}
/* Map */
#support #map iframe{height: 186px; width: 100%;}
/* Projects */
@keyframes scroll{0%{transform: translateX(0);}100%{transform: translateX(calc(-250px * 7));}}
#support .slider{height: 100px; margin: auto; overflow: hidden; position: relative; width: 100%;}
#support .slider::before, .slider::after{content: ""; height: 100px; position: absolute; width: 200px; z-index: 2;}
#support .slider::after{right: 0; top: 0; transform: rotateZ(180deg);}
#support .slider::before{left: 0; top: 0;}
#support .slider .slide-track{animation: scroll 25s linear infinite; display: flex; width: calc(250px * 14);}
#support .slider .slide {height: 100px; width: 250px;}